<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

     <main class="container py-32 py-md-16 mb-48 mb-md-24">
        <nav class="mb-24 mb-md-12">
            <ol class="d-flex">
                <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">首頁</a></li>
                <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">女鞋</a></li>
                <li class="breadcrumb-item">所有商品</li>
            </ol>
        </nav>
        <!-- 麵包屑元件 -->
        <h2 class="headings-h3 headings-h4-md mb-24 mb-md-12">所有商品</h2>
        <div class="row">
            <div class="col-2 d-md-none">
                <nav>
                    <ul class="category label-md">
                        <li class="mb-16"><a href="#" class="py-12 active">所有商品</a></li>
                        <li class="mb-16"><a href="#" class="py-12">慢跑鞋</a></li>
                        <li class="mb-16"><a href="#" class="py-12">滑板鞋</a></li>
                        <li class="mb-16"><a href="#" class="py-12">厚底鞋</a></li>
                        <li><a href="#" class="py-12">限定 / 聯名企劃</a></li>
                    </ul>
                </nav>
            </div>
            <!-- 商品導覽列 -->
            <div class="col-10 col-md-4">
                <div class="row">
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product.png?raw=true" alt="PLATFORM 404" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">PLATFORM 404</h2>
                            <p>NT$2,600</p>
                        </div>

                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-1.png?raw=true" alt="PLATFORM 404" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">PLATFORM 404</h2>
                            <p>NT$2,600</p>
                        </div>

                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-2.png?raw=true" alt="PLATFORM 404" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">VM001</h2>
                            <p>NT$2,600</p>
                        </div>

                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-3.png?raw=true" alt="Melty Kiss" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">Melty Kiss</h2>
                            <p>NT$4,000</p>
                        </div>

                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-4.png?raw=true" alt="BOOMBLOK" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">BOOMBLOK</h2>
                            <p>NT$3,200</p>
                        </div>
                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-5.png?raw=true" alt="BOOMBLOK" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">BOOMBLOK</h2>
                            <p>NT$3,200</p>
                        </div>
                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-6.png?raw=true" alt="R:UNER" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">R:UNER</h2>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-32">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-7.png?raw=true" alt="PLATFORM 404" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">Sugar Snap</h2>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                    <!-- 商品卡片 -->
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W2/blob/master/img/product-8.png?raw=true" alt="Neofoam" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">Neofoam</h2>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                    <!-- 商品卡片 -->
                     <div class="col-4 col-md-2 d-none d-sm-block">
                        <div class="mb-48 mb-md-32">
                            <a href="product.html">
                                <img src="https://github.com/icephy/2026_webCodingClass-W3/blob/master/img/product-4.png?raw=true" alt="Buttermood" class="mb-12 mb-md-8">
                            </a>
                            <h2 class="headings-h6 mb-4 mb-md-0">Buttermood</h2>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                    <!-- 商品卡片 -->
                </div>
                <!-- 商品卡片列 -->
                <ul class="d-flex justify-center align-center">
                    <li class="mr-12 page-item">
                        <button class="btn" disabled>
                            <i class="bi bi-chevron-left"></i>
                        </button>
                    </li>
                    <li class="mr-8 page-item">
                        <button class="btn active">1</button>
                    </li>
                    <li class="mr-8 page-item">
                        <button class="btn">2</button>
                    </li>
                    <li class="mr-8 page-item">
                        <button class="btn">3</button>
                    </li>
                    <li class="mr-8 page-item">
                        <button class="btn">...</button>
                    </li>
                    <li class="mr-8 page-item">
                        <button class="btn">10</button>
                    </li>
                    <li class="page-item">
                        <button class="btn">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </li>
                </ul>
                <!-- 分頁元件 -->
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
